{% extends 'base.html' %} 
{% block title %} Products {% endblock title %} 
{% block head %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock head %} 

{% block body %} 
{% load static %} 

{% include "components/navbar.html" with active='products' %} 

{% include "components/header.html" with title='Our Products' paragraph='Explore our latest collection' %}

<section class="py-16">
  <div
    class="max-w-6xl mx-auto px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
  >
    {% for product in products %}
      {% include "components/product_card.html" with product=product %}
    {% empty %}
    <p class="text-center col-span-full text-gray-500">
      No products available.
    </p>
    {% endfor %}
  </div>
</section>
{% endblock body %}
