<div class="mt-8 flex justify-center">
    <nav class="inline-flex items-center gap-1" aria-label="Pagination">

    {# Previous Button #}
    {% if page_number > 1 %}
        <a href="?page={{ page_number|add:-1 }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}"
        class="px-3 py-1 border rounded hover:bg-yellow-300 transition text-sm">
        &lt;
        </a>
    {% endif %}

    {# Page Numbers #}
    {% for num in number_of_pages %}
        <a href="?page={{ num }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}"
        class="px-3 py-1 border rounded text-sm font-medium
                {% if num == page_number %}
                bg-yellow-400 text-white border-yellow-400
                {% else %}
                hover:bg-yellow-300 text-gray-700
                {% endif %}">
        {{ num }}
        </a>
    {% endfor %}

    {# Next Button #}
    {% if page_number < number_of_pages|last %}
        <a href="?page={{ page_number|add:1 }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}"
        class="px-3 py-1 border rounded hover:bg-yellow-300 transition text-sm">
        &gt;
        </a>
    {% endif %}

    </nav>
</div>
